* {
    padding: 0;
    margin: 0;
    top:  0;
    left: 0;
    text-decoration: none;
}

.container {
    height: 100%;
    width: 100%;
}

.nav-bar {
    height: 70px;
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    align-content: space-between;
}

.nav-bar a {
    padding: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar a:focus, a:active {
    text-decoration: underline;
    color: palevioletred;
}
.search-area {
    margin-top: 80px;
    margin-left: 450px;
    height: 200px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    text-align: center;
}

input[type="text"]{
    width: 500px;
    border: 3 solid;
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 24px 4px 12px 40px;
    border-radius: 30px;
    background-image: url(./resources/icons8-search-24.png);
    background-repeat: no-repeat;
    background-position: 7px 7px;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.search-button {
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    margin: 12px 4px;
    cursor: pointer;
    border-radius: 10px;
    
}